@model List<ProyectoWebGrupo6.Entidades.Producto>
@{
    ViewBag.Title = "MantenimientoProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold" style="color: #5dc1b9;">Mantenimiento Productos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="col-sm-12">

                        @if (ViewBag.MsjPantalla != null)
                        {
                            <div class="alert alert-warning" role="alert" style="text-align:center">
                                @ViewBag.MsjPantalla
                            </div>
                        }
                        <div style="margin-bottom:1%; text-align:left">
                            <a class="btn InputColor" href="@Url.Action("RegistrarProducto","Producto")"> + Agregar</a>
                        </div>

                        <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">

                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Categoría</th>
                                    <th>Precio</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd">
                                        <td style="text-align:center"><img src="@item.RutaImagen" style="width:125px; height:125px;"></td>
                                        <td>@item.NombreProducto</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.NombreCategoria</td>
                                        <td>₡@item.Precio</td>
                                        @{
                                            string color;
                                            string estado;
                                            if (item.Estado == true)
                                            {

                                                color = "#C8EFC1"; // Color Verde
                                                estado = "Activo";
                                            }
                                            else
                                            {
                                                color = "#D8D6D5"; // Color Gris
                                                estado = "Inactivo";
                                            }
                                            
                                        }
                                        <td><span style="padding: 5px 10px; background-color: @color; border-radius: 5px;">@estado</span></td>
                                        <td style="text-align:center" class="align-middle">
                                            <a href="@Url.Action("ActualizarProducto", "Producto", new { ProductoId = @item.ProductoId })" class="btn InputColor mb-2">Editar</a>

                                            @if (item.Estado == true)
                                            {
                                                <a href="@Url.Action("EliminarProducto", "Producto", new { ProductoId = @item.ProductoId })" class="btn InputColor mb-2">Inactivar</a>
                                            }
                                            else
                                            {
                                                <a style="background-color: #c7c7c7;" href="@Url.Action("EliminarProducto", "Producto", new { ProductoId = @item.ProductoId })" onclick="return false;" class="btn InputColor mb-2">Inactivar</a>
                                            }
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Estilos/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
            },
            order: [[6, 'asc']]
        });
    });
</script>



